<footer>
  <div class="button-icons">
    <ul>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

  <div class="info">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">User Service</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>

  <p>&copy; 2019 Chatter. Made with <i class="fa fa-snowflake-o" aria-hidden="true"></i> in Halifax</p>
</footer>
