<form method="post">
  <div class="background">
    <h1 class="h3 font-weight-normal"> Log in to Chatter</h1>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="123@cms.com">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <a href="#" id="forgetPass">Forget Your Password?</a>
    <button class="btn btn-lg btn-primary btn-block" type="submit"> Login </button>
  </div>
</form>