<div class="main_panel">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-commenting-o" aria-hidden="true"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Say something" aria-label="Saysomething" aria-describedby="basic-addon1">
  </div>

  <div class="newpost">
    
    <h2 *ngIf="id!=1; else elseblock">New Posts</h2>
    <!--If a user has logged in, the subtitle will change-->
    <ng-template #elseblock> <h2>My Posts</h2> </ng-template>
    
    <div class="content"></div>
  </div>
</div>

<div class="profile">
  <div class="uPic">
    <img src="../../assets/owl..png" alt="owl">
  </div>
  <div class="profile_info">
    <ul>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Following</a></li>
      <li><a href="#">Follower</a></li>
    </ul>
  </div>
  <div class="profile_info">
    <ul>
      <li class="info_data"><a href="#">0</a></li>
      <li class="info_data"><a href="#">0</a></li>
      <li class="info_data"><a href="#">0</a></li>
    </ul>
  </div>
</div>